body{
  background-color: #eee;
  width: 100%;
}


.container-fluid{
  z-index:-1;
  position: absolute;
  left: 280px;
  height: calc(100% - 70px);
  max-height: calc(100% - 70px);
  width: calc(100% - 300px);
}


/*
.row
*/

.row{
  margin-left: 0px;
  margin-right: 0px;
}


/*
Head Bar
*/

.navbar
{
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.navbar-header{
  width: 100%;
  background-color: white;
  box-shadow: 0px 5px 5px #888888;
}



.navbar-brand {
  color: white;
  width: 260px;
  text-align: center;
  height: 60px;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  background: #00AAFF;
  padding-top: 12px;
}

.navbar-brand:hover{
  color: white;
  text-shadow: 0 0 10px white;
  transition: text-shadow 0.6s;
  -moz-transition: text-shadow 0.6s; /* Firefox 4 */
  -webkit-transition: text-shadow 0.6s; /* Safari 和 Chrome */
  -o-transition: text-shadow 0.6s; /* Opera */
}



/*
Sidebar
*/

.sidebar {
  position: absolute;
  height: calc(100% - 60px);
}

.sidebar .list-group {
  width: 260px;
  height: 100%;
  top: 60px;
  background-color: #222;
}

.sidebar .list-group .list-group-item {
  border-radius: 0;
  color: #ccc;
  border-left: 0;
  border-right: 0;
  border-color: #2c2c2c;
  white-space: nowrap;
  font-size: large;
  height: 53px;

  background-color: #333;
  transition: background-color 0.6s;
  -moz-transition: background-color 0.6s; /* Firefox 4 */
  -webkit-transition: background-color 0.6s; /* Safari 和 Chrome */
  -o-transition: background-color 0.6s; /* Opera */
}


.sidebar .list-group .list-group-item:hover{
  background-color: #222;
  transition: background-color 0.6s;
  -moz-transition: background-color 0.6s; /* Firefox 4 */
  -webkit-transition: background-color 0.6s; /* Safari 和 Chrome */
  -o-transition: background-color 0.6s; /* Opera */
}

.sidebar .list-group .collapse .list-group-item:hover{
  background-color: #222;
  transition: background-color 1s;
  -moz-transition: background-color 1s; /* Firefox 4 */
  -webkit-transition: background-color 1s; /* Safari 和 Chrome */
  -o-transition: background-color 1s; /* Opera */
}

.list-group-item > i{
  margin-right: 5px;
}



.sidebar .list-group .active {
  background-color: #222;
}

.sidebar .list-group .list-group-item .active {
  background-color: #222;
}



.list-group .list-group-item:hover{
  color: #3BB9FF;
}


.sidebar .list-group .list-group-item[aria-expanded="false"]::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 5px;
}


.sidebar .list-group .list-group-item[aria-expanded="true"]::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 5px;
}


.sidebar .list-group .collapse .list-group-item  {
  padding-left: 50px;
  transition: padding-left 0.4s;
  -moz-transition: padding-left 0.4s; /* Firefox 4 */
  -webkit-transition: padding-left 0.4s; /* Safari 和 Chrome */
  -o-transition: padding-left 0.4s; /* Opera */
}

.sidebar .list-group .collapsing .list-group-item  {
  padding-left: 20px;
  transition: padding-left 0.3s;
  -moz-transition: padding-left 0.3s; /* Firefox 4 */
  -webkit-transition: padding-left 0.3s; /* Safari 和 Chrome */
  -o-transition: padding-left 0.3s; /* Opera */
}

.closed{
  transition: rotate(90deg);
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}


/*
Shine
*/
.list-group-item:hover:before {
    left: 400px;
    transition: left 1s ease 0s;
}
.list-group-item:before {
    content: "";
    position: absolute;
    width: 260px;
    height: 53px;
    top: 0;
    left: -400px;
    overflow: hidden;
    background: -moz-linear-gradient(left,rgba(255,255,255,0)0,rgba(255,255,255,.2)50%,rgba(255,255,255,0)100%);
    background: -webkit-gradient(linear,left top,right top,color-stop(0%,rgba(255,255,255,0)),color-stop(50%,rgba(255,255,255,.2)),color-stop(100%,rgba(255,255,255,0))); 
    background: -webkit-linear-gradient(left,rgba(255,255,255,0)0,rgba(255,255,255,.2)50%,rgba(255,255,255,0)100%);
    background: -o-linear-gradient(left,rgba(255,255,255,0)0,rgba(255,255,255,.2)50%,rgba(255,255,255,0)100%);
    -webkit-transform: skewX(-25deg);
    -moz-transform: skewX(-25deg);
    -o-transform: skewX(-25deg);
    transition: skewX(-25deg);
}





/*
Page Header
*/

.header {
    margin: 0 30px;
}
.page-header {
  margin: 0;
  height: 15%;
  border-bottom: 1px solid transparent;
  text-align: left;
  padding: 32px 22px 32px 15px;
  color: #323232;
}
.page-header small {
display: inline;
padding-top: 14px;
font-size: 19px;
}
h1.page-header small {
    color: #7E7E7E;
    margin-left: 15px;
    font-size: 20px;
}

.number h3 {
    font-size: 32px;
    color: #676767;
}
.number small {
    font-size: 14px;
    color: #AAB5BC;
    font-weight: 600;
    text-transform: uppercase;
    margin: 8px 5px;
    display: inline-block;
}





.rectangle-list {
  overflow: auto;
  margin-bottom: 0;
}

.rectangle-list li{
  font-size: large;
  position: relative;
  display: block;
  margin: .5em 0 .5em 1.5em;
  background: #ddd;
  color: #444;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.rectangle-list li:hover{
    background: #00AAFF;
}


.rectangle-list li:after{
  position: absolute;
  content: '';
  border: .5em solid transparent;
  left: -1em;
  top: 50%;
  margin-top: -.5em;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.rectangle-list li:hover:after{
  left: -.5em;
  border-left-color: #111111;
}


ul{
  font: 15px 'trebuchet MS', 'lucida sans';
  padding: 0;
  width: 100%;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
}
ul li{
  list-style:none outside none;
  line-height: 100%;
}



.flat-button {

  margin-left: 10px;
  margin-right: 10px;

  height: 40px;
  width: 90px;
  
  vertical-align: bottom;

  background-color: white;
  color: #00AAFF;
  font-size: 16px;
  text-align: center;

  border-width: 1px;
  border-style: solid;
  border-color: #00AAFF;
  border-radius: 2px; 
}


.flat-button.right {
  float: right;
}

.flat-button.large{
  height: 40px;
  width: 120px;
  font-size: 16px;
}

.flat-button.red{
  border-color: #FF6384;
  color: #FF6384;
}

.flat-button.active.red
{
  box-shadow: 0 0 15px #FF6384;
  transition: box-shadow 0.6s;
  -moz-transition: box-shadow 0.6s; /* Firefox 4 */
  -webkit-transition: box-shadow 0.6s; /* Safari 和 Chrome */
  -o-transition: box-shadow 0.6s; /* Opera */
}

.flat-button.red:hover
{

  box-shadow: 0 0 15px #FF6384;
  transition: box-shadow 0.6s;
  -moz-transition: box-shadow 0.6s; /* Firefox 4 */
  -webkit-transition: box-shadow 0.6s; /* Safari 和 Chrome */
  -o-transition: box-shadow 0.6s; /* Opera */
}


.flat-button.yellow{
  border-color: #FFCE56;
  color: #FFCE56;
}

.flat-button.active.yellow
{
  box-shadow: 0 0 15px #FFCE56;
  transition: box-shadow 0.6s;
  -moz-transition: box-shadow 0.6s; /* Firefox 4 */
  -webkit-transition: box-shadow 0.6s; /* Safari 和 Chrome */
  -o-transition: box-shadow 0.6s; /* Opera */
}

.flat-button.yellow:hover
{
  box-shadow: 0 0 15px #FFCE56;
  transition: box-shadow 0.6s;
  -moz-transition: box-shadow 0.6s; /* Firefox 4 */
  -webkit-transition: box-shadow 0.6s; /* Safari 和 Chrome */
  -o-transition: box-shadow 0.6s; /* Opera */
}



.flat-button.gray{
  border-color: #999999;
  color: #999999;
}

.flat-button.active.gray
{
  box-shadow: 0 0 15px #999999;
  transition: box-shadow 0.6s;
  -moz-transition: box-shadow 0.6s; /* Firefox 4 */
  -webkit-transition: box-shadow 0.6s; /* Safari 和 Chrome */
  -o-transition: box-shadow 0.6s; /* Opera */
}

.flat-button.gray:hover
{
  box-shadow: 0 0 15px #999999;
  transition: box-shadow 0.6s;
  -moz-transition: box-shadow 0.6s; /* Firefox 4 */
  -webkit-transition: box-shadow 0.6s; /* Safari 和 Chrome */
  -o-transition: box-shadow 0.6s; /* Opera */
}



.flat-button:hover
{
  box-shadow: 0 0 15px #00AAFF;
  transition: box-shadow 0.6s;
  -moz-transition: box-shadow 0.6s; /* Firefox 4 */
  -webkit-transition: box-shadow 0.6s; /* Safari 和 Chrome */
  -o-transition: box-shadow 0.6s; /* Opera */
}



.flat-button.active
{
  box-shadow: 0 0 15px #00AAFF;
  transition: box-shadow 0.6s;
  -moz-transition: box-shadow 0.6s; /* Firefox 4 */
  -webkit-transition: box-shadow 0.6s; /* Safari 和 Chrome */
  -o-transition: box-shadow 0.6s; /* Opera */
}


/*
Input
*/


input.flat {
  margin-left: 10px;
  margin-right: 10px;
  height: 40px;
  width: 120px;
  font-size: 16px;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  border-color: #00AAFF;
  background: white;
  color: black;
  padding: 0;
  text-align: left;
}

input.flat:hover {
  box-shadow: 0px 0px 15px #00AAFF;
  transition: box-shadow 0.4s;
  -moz-transition: box-shadow 0.4s; /* Firefox 4 */
  -webkit-transition: box-shadow 0.4s; /* Safari 和 Chrome */
  -o-transition: box-shadow 0.4s; /* Opera */
}


