

/*
.board in Dashboard
*/

.board .panel {
  padding: 25px 15px;
  height: 100%;
  border:none;
  background:#fff;
}
.board .number{
  float:left;
}
.board .icon{
  float:right;
}
.board .panel .icon .fa {
  color: #FFFFFF;
  background: #00AAFF;
  padding: 19px;
}
.panel-primary{
  display:inline-block;
  margin-bottom: 30px;
  width:100%;
}

/* center */


.center {
  display: flex;
  justify-content:center;
  align-items:center;
  }


#row_1{
  height: 20%;
  max-height: 20%;
}

#row_2{
  height: 60%;
  max-height: 60%;
}
